*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  max-width: 1300px;
  margin: auto;
  font-family: 'Open Sans';
  border: 1px solid grey;
}

header {
  border-bottom: 1px solid grey;
  height: 150px;
  justify-content: center;
  background-color: #404041;
  /* padding-top: 15px; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1,
.challenger-result {
  color: #dd1972;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 800;
  margin: 0;
}

h1 span {
  font-weight: 300;
}

.lines {
  margin: 0;
}

.lines span{
    position: relative;
    display: inline-block;
}
.lines span:before,
.lines span:after{
    content:'';
    position: absolute;
    border-bottom: 2px solid #f7f7f7;
    top: 50%;
    width: 115px;
    margin: 0 15px;
}
.lines span:before {
    right: 100%;
}
.lines span:after {
    left: 100%;
}

#tagline {
  margin: -6px 0 0 0;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  font-weight: 300;
}

.changing-this {
  background-color: #d1d2d4;
}

main {
  border-right: 3px solid grey;
  width: 50%;
  height: 100%;
  display: inline-block;
  background-color: #f7f7f7;
  padding: 0 20px;
}

.box {
  background-color: white;
  border: 2px solid lightgrey;
  width: 100%;
  margin: 20px 0;
}

input {
  height: 40px;
  border: 2px solid lightgrey;
  font-size: 20px;
  font-weight: bold;
  color: grey;
  padding-left: 10px;
}

input:focus {
  outline: none;
  border: 2px solid #dd1972;
}

#range {
  height: 145px;
}

label {
  color: grey;
  font-size: 20px;
  margin-bottom: 3px;
}

button:disabled {
  background-color: lightgrey;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 5px 15px;
}

.form-align {
  display: block;
  width: 100%;
}

.range-group {
  flex: 3;
  margin-right: 15px;
}

#update-button {
  flex: 2;
}

#arena {
  height: 400px;
}

#arena p {
  margin: 15px;
  font-size: 18px;
  color: #404041;
}

.arena-group:nth-child(1) {
  flex: 2;
  margin-right: 15px;
}

.arena-group:nth-child(2) {
  flex: 1;
}

.challenger {
  margin-bottom: 30px;
}

.btn {
  flex: 1;
}

.btn:nth-child(2) {
  margin: 0 10px;
}

h3 {
  font-weight: bold;
  font-size: 23px;
  color: #404041;
  padding: 0;
  margin: 10px 0 0 15px;
}

#min-range-small,
#max-range-small {
  font-weight: bold;
  text-decoration: underline;
}

button {
  /* padding: 0 25px; */
  height: 40px;
  border-radius: 100px;
  color: white;
  background-color: #6e6e6e;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border-style: none;
}

button:focus {
  outline: none;
}


#results {
  height: 250px;
}

.results-section {
  text-align: center;
  width: 50%;
}

.results-section p {
  margin: 0;
  color: grey;
  font-size: 20px;
}

#challenger-1-result,
#challenger-2-result {
  font-size: 100px;
  margin: -20px 0;
  color: #dd1972;
}

h4 {
  font-size: 20px;
  color: #404041;
  margin: 0;
}

.vertical-line {
  height: 220px;
  display: inline;
  width: 2px;
  background-color: lightgrey;
  border-style: none;
  position: absolute;
}

#card-area {
  width: 50%;
  height: 100%;
  max-height: 855px;
  float: right;
  display: inline-block;
  padding: 20px 40px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.game-card hr {
  width: 95%;
  border-style: none;
  height: 2px;
  background-color: gray;
}

.game-card {
  border: 2px solid #6e6e6e;
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 10px;
  color: #6e6e6e;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}

.game-card span {
  font-weight: bold;
  font-size: 18px;
  color: #6e6e6e;
}

.game-card h5 {
  font-size:42px;
  margin:0 0 10px 0;
  color: #6e6e6e;
  line-height: 36px;
}

.game-card h6 {
  font-size: 32px;
  margin: 0px;
  font-weight: lighter;
  line-height: 26px;
  letter-spacing: 3px;
}
.game-stat-container {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.game-stats {
  margin: 5px;
  width: 33%;
}

.stats-guess {
  text-align: left;
  padding-left: 10px;
}

.stats-timer {
  text-align: center;
}

.close-card-container {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  /*border: 1px solid red;*/
}

.close-card {
  text-align: center;
  border-radius: 25px;
  color: #ffffff;
  padding: 0px;
  border: none;
  background-color: #6e6e6e;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 29px;
  font-weight: 300;
}

.game-stats p {
  margin: 0px;
}

/* .clearfix {
  content: '';
  display: table;
  clear: both;
} */
